<p-tabView>
  <p-tabPanel header="Header Text" [closable]="true" >
      <p-header>
          Header content here
      </p-header>
    Content 1xxxxxxxxxxxxx
    <p>rtc works!</p>
    <p-footer>
        <div class="p-grid" borde="1">
            <div class="p-col">1</div>
            <div class="p-col">2</div>
            <div class="p-col">
              <p-button label="Click" styleClass="ui-button-rounded ui-button-info"></p-button>
            </div>
        </div>


     </p-footer>
  </p-tabPanel>
  </p-tabView>
